<!DOCTYPE html>
<html>
  <head>
    <title>
      {{title}}
    </title>
    <style>
      body { background: #eee; font-size: 10px; }
      li { list-style: none !important; }
      .critical { background: #ffcccc; }
      .warning { background: #ffeeee; }
      .notice { background: #ffffee; }
      .nada { background: #eeffee; }

      #load-more {
        margin: 20px auto;
        background: #eeffee;
        text-align: center;
        width: 150px;
        padding: 10px;
        border-radius: 3px;
        border: 1px solid #000;
        box-shadow: 0px 0px 3px #808080;
        cursor: pointer;
      }

      footer {
        padding: 10px 0px;
        margin-top: 30px;
        border-top: 1px solid;
     }

    </style>

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript">
    <!--
      var plus = 150;
      $(document).ready(function() {
        $('#load-more').click(function() {
          var path = '/more/' + plus;
          if (document.location.pathname.indexOf('filter')) {
            path = '/more-filter/' + document.location.pathname.replace('/filter/', '') + '/' + plus;
          }

          console.log(path);

          $.post(path, {}, function(response) {
            console.log(response.indexOf('<!--'));
            if (response.indexOf('<!--') !== false) {
              var m = response.match(/\<\!\-\- (\d+) results \-\-\>/);
              if (parseInt(m[1]) < 150) {
                $('#load-more').remove();
              }
            }
            $(response).appendTo($('table'));
          });

          plus += 150;
        });
      });
    -->
    </script>
  </head>
  <body>
    <header>
      <h1>Error Log</h1>
      <ul>
        <li>
          Filter by...
          <ul>
            <li>Severity</li>
          </ul>
        </li>
        <li>Set New Filter</li>
      </ul>
    </header>

    <div id="main">
      {{{yield}}}
    </div>

    <footer>
      Page executed super quickly, given the size of the log file.
      <div>Copyright &copy; 2012 DoSomething.org</div>
    </footer>
  </body>
</html>
