<!DOCTYPE html>
<html>
  <head>
    <title>
      {{title}}
    </title>
    <style>
      body {
        background: #eee;
        font-size: 12px;
        font-family: 'Trebuchet MS', 'sans-serif';
        margin: 0px;
      }
      header {
        width: 100%;
        background: #1e1e1e;
        height: 35px;
        color: #eee;
        margin: 0px 0px 10px #808080;
      }

      header h1 {
        margin: 2px 15px;
        padding: 0px;
        float: left;
      }

      header #filters {
        float: right;
        margin-right: 30px;
        margin: 10px 30px 0px 0px;
        padding: 0px;
      }

      header ul {
        padding: 0px;
        margin: 0px;
        float: left;
      }

      header ul li { 
        position: relative;}

      header ul li > ul {
        float: none;
        display: none;
        position: absolute;
        background: rgba(0, 0, 0, 0.7);
        margin-top: 0px;
      }

      header ul li > ul li a {
        color: #fff;
        padding: 5px 15px;
        display: block;
      }

      header ul li:hover > ul {
        display: inline;
        clear: left;
      }

      header input[type="search"] {
        float: left;
        margin: -2px 0px 0px 20px;
      }

      #main {
        margin: 10px;
      }

      li { list-style: none !important; }
      .critical { background: #ffcccc; }
      .warning { background: #ffeeee; }
      .notice { background: #ffffee; }
      .nada { background: #eeffee; }

      #load-more {
        margin: 20px auto;
        background: #eeffee;
        text-align: center;
        width: 150px;
        padding: 10px;
        border-radius: 3px;
        border: 1px solid #000;
        box-shadow: 0px 0px 3px #808080;
        cursor: pointer;
      }

      footer {
        padding: 10px 0px;
        margin-top: 30px;
        border-top: 1px solid;
     }

    </style>

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript">
    <!--
      var plus = 150;
      $(document).ready(function() {
        $('#load-more').click(function() {
          var path = '/more/' + plus;
          if (document.location.pathname.indexOf('filter')) {
            path = '/more-filter/' + document.location.pathname.replace('/filter/', '') + '/' + plus;
          }

          $.post(path, {}, function(response) {
            console.log(response.indexOf('<!--'));
            if (response.indexOf('<!--') !== false) {
              var m = response.match(/\<\!\-\- (\d+) results \-\-\>/);
              if (parseInt(m[1]) < 150) {
                $('#load-more').remove();
              }
            }
            $(response).appendTo($('table'));
          });

          plus += 150;
        });

        $('#search').keydown(function(e) {
          if (e.which == 13) {
            document.location = '/search/' + $(this).val();
          }
        });
      });
    -->
    </script>
  </head>
  <body>
    <header>
      <h1>Error Log</h1>
      <div id="filters">
        <ul>
          <li>
            Severity Filter
            <ul>
              <li><a href="/filter/notice">Notice</a></li>
              <li><a href="/filter/warning">Warning</a></li>
              <li><a href="/filter/error">Error</a></li>
              <li><a href="/filter/exception">Exception</a></li>
            </ul>
          </li>
        </ul>

        <input id="search" type="search" placeholder="Search the logs..." />
      </div>
    </header>

    <div id="main">
      {{{yield}}}
    </div>

    <footer>
      Page executed super quickly, given the size of the log file.
      <div>Copyright &copy; 2012 DoSomething.org</div>
    </footer>
  </body>
</html>
