{{#logs}}
<tr class="{{ level_class }}">
	<td>{{ date }}</td>
	<td>{{ level }}</td>
	<td title="{{ full_referer }}">{{ referer }}</td>
	<td title="{{ full_errorat }}">{{ errorat }}</td>
	<td>{{ errormsg }}</td>
	<td>{{ error_line }}</td>
	<td>{{ error_file }}</td>
</tr>
{{/logs}}